# Node dependencies
node_modules/

# Compilation outputs
dist/
*.tsbuildinfo
*.tgz

# Extension packages
*.vsix

# IDE & OS files
.DS_Store
.vscode/tasks.json
.vscode/settings.json
.vscode/project-state.json
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle files
.gradle/
build/

